doctype html
head(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	link(href="http://fonts.googleapis.com/css?family=Raleway:400,300", rel="stylesheet")
	link(href="style.css", rel="stylesheet")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="jq-animate.js")

body
	.container-fluid
		header
		nav.navbar.navbar-default
			.container-fluid
					.row-fluid.col-sm-12.text-center
						img(src="http://i.imgur.com/KTp1Thu.png").img-responsive.img-circle#animate-avatar
			.container-fluid
					.hidden-xs
						.row-fluid.list-inline.text-center#circle-animate
							li.circle: h1: .glyphicon.glyphicon-menu-left
							li.circle: h1 和平
							li.circle: h1: .glyphicon.glyphicon-menu-right
					.visible-xs
						.row-fluid.list-inline.text-center#circle-animate-xs
							li.circle-xs: h2: .glyphicon.glyphicon-menu-left
							li.circle-xs: h2 和平
							li.circle-xs: h2: .glyphicon.glyphicon-menu-right
	.container-fluid
		.hidden-xs
			.row-fluid
				.col-sm-12#lg-panel.text-center
					span Hello everynyan, how are you? 
					button(type="button").btn Default button
		.visible-xs
			.row-fluid
				.col-sm-12#lg-panel-xs.text-center
					p Hello everynyan, how are you? 
					button(type="button").btn.btn-xs Default button

	.container
		.col-sm-12
			.hidden-xs
				article
					header
						#header-animate
							time(datetime="", pubdate) Today
							h1 Placeholder title
					#article-p-animate
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio in elit consectetur facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam sit amet imperdiet justo. Vivamus elit lorem, sagittis eu ligula at, tincidunt venenatis odio. Ut auctor dolor quis nisl placerat, et elementum urna pellentesque. Mauris cursus pulvinar tortor, vitae auctor nisl. Ut sed arcu nibh. Nullam non ullamcorper mauris.

						p Donec eu nulla faucibus, aliquam arcu vitae, accumsan est. Ut mollis massa ac ornare consectetur. Fusce molestie tincidunt lectus, eu varius dui vehicula facilisis. Etiam lobortis eleifend egestas. In eu vulputate lorem, eget elementum dui. Phasellus a erat sapien. Donec eget ipsum lacus.

			.visible-xs
				article
					.header-xs
						#header-animate-xs
							time(datetime="", pubdate).time-xs Today
							h1 Placeholder title
					#article-p-animate-xs
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio in elit consectetur facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam sit amet imperdiet justo. Vivamus elit lorem, sagittis eu ligula at, tincidunt venenatis odio. Ut auctor dolor quis nisl placerat, et elementum urna pellentesque. Mauris cursus pulvinar tortor, vitae auctor nisl. Ut sed arcu nibh. Nullam non ullamcorper mauris.

						p Donec eu nulla faucibus, aliquam arcu vitae, accumsan est. Ut mollis massa ac ornare consectetur. Fusce molestie tincidunt lectus, eu varius dui vehicula facilisis. Etiam lobortis eleifend egestas. In eu vulputate lorem, eget elementum dui. Phasellus a erat sapien. Donec eget ipsum lacus.